:root{
    --azul-fuerte:#004164 ;
    --azul-medio:#005779 ;
    --verde-fuerte: #00b0b8;
    --verde-bajo: #00f5d8; 
    --gris : #b0acac;
    --gris-car: #B2C6D6; 
    --blanco : #ffffff;
    --negro : #000000;
    --rojo: #ff0000;







    --sm:14px;
    --md:16px;
    --lg:18px;
    --xlg:25px;

}