@import 'vars';
.enumeracion{
   align-items: center;
   width:100%;
   text-align: center;
   font-weight: bold;
   display: flex;
}
.botonCar{
    align-items: center;
    width:100%;
    text-align: center;
    font-weight: bold;
    flex:1;
    border-radius: 20px;
    background-color: var(--gis);
    border-color: var(--verde-fuerte);
}
.textoBotonCar{
    flex:6
}
.imagenCarr{
    width:auto;
    height:200px;
}
