@import 'vars';

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 2px solid var(--gris);
    margin-top: 10px;
    //box-shadow: -4px 0px 0px 0px;
}
.menu{
    display: none;
    width: 44px;
    height: 44px;
}
.logo-header{
    width: 55px;
    height: 45px;
    display: block;
    align-self: center;
}
.navbar-izquierda ul,
.navbar-derecha ul{
   
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: auto;   
    
}
.navbar-izquierda{
    display: flex;
}
.navbar-izquierda ul{
    margin-left: 12px;
}

.navbar-izquierda ul li a,
.navbar-derecha ul li a {
    background-color: var(--blanco);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: var(--negro);
    border: 1px solid var(--blanco);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.navbar-izquierda ul li a:hover,
.navbar-derecha ul li a:hover{
    border: 1px solid var(--azul-medio);
    color: var(--azul-fuerte);
}

.navbar-email{
    color: var(--negro);
    font-size: var(--sm);
    margin-right: 12px;
}
.navbar-carrito{
    position: relative;
}
.navbar-carrito div{
    width: 16px;
    height: 16px;
    background-color: var(--gris-car);
    color: var(--negro);
    border-radius: 90%;
    font-size: var(--sm);
    padding: 4px;
    //font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrito{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--blanco);
    border-radius: 20px;
}

@media(max-width:640px){
    .logo-header{
        display: block;
    }
    .menu{
        display: block;
    }
    .navbar-izquierda ul {
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .navbar-izquierda{
        display: none;
    }

}