@import 'vars';


.cards-container-home{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 24px;
    place-content: center;
    background-color: var(--verde-fuerte);
    
}
.product-card{
    width: 240px;
}

.product-card img{
    width: 240px;
    border-radius: 20px;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
.product-info figure {
    margin: 0;
}
.product-info div p:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.product-info div p:nth-child(2){
    font-size: var(--sm);
    color:var(--azul-medio);
    font-weight: bold;
}

.titulo-home {
    // justify-content: center;
    // align-items: center;
    // font-size: var(--md);
    
    // align-items: center;
    // width:100%;
    // text-align: center;
    // font-weight: bold;
    // display: flex;
    color: var(--azul-medio);
    text-align: center;
    font-weight: bold;
    font-size: var(--xlg);
}

@media(max-width:640px){
    .cards-container-home{
        display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 24px;
        place-content: center;
        
    }
}