@import 'vars';

.lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 250px;
    color: var(--negro);
    background-color: var(--blanco);
    border-color: var(--verde-bajo);
    border-radius: 5px;
    border: 1px solid var(--verde-fuerte) ;
    
    padding: 5 5px;
    padding: 2px 8px 10px 30px;
    box-shadow: 0px 0px 15px -5px;
} 
.lista p{
    display: block;
    font-weight: bold;
    color: var(--negro);
    padding: 0px 0px 10px 10px;
}

.producto{
    width: 55px;
    height: 55px;
    padding: 5px;
}

.imagen-orden {
    width: 35px;
    height: 35px;
    padding: 0px 0px 10px 10px;
    
}
